<nav class="navbar navbar-expand-md navbar-dark nav-custom sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <div class="material-icons">movie</div>
      <div class="ml-1 logo">Movies<span>Review</span></div>
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" routerLink="home" routerLinkActive="now">Trending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="movies" routerLinkActive="now">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tvShow" routerLinkActive="now">Tv Show</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="join" routerLinkActive="now">Join Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="now">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
